@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    overflow: hidden;
}

.conteiner {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: auto;
}

                            /*header*/

.header{
    background: rgba(0, 0, 0, 0.4);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.header__logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    padding: 18px 0 18px 79px;
}

.header__logo-link{
    color: white;
    transition: 300ms ease-in-out;
}

.nav-list__item, .nav-icons__svg{
    transition: 300ms ease-in-out;
}

.header__logo-link:hover{
    color: #3CB878;
}

.nav-icons__svg:hover{
    fill: #3CB878;
}

.header__nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 79px 18px 0;
}

.header__nav-icons{
    padding-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.header__nav-list{
    padding-left: 27px;
}

.nav-icons__calendar{
    padding-right: 27px;
}

.nav-icons__email{
    padding-right: 24px;
}

.nav-list__item, .nav-list__text{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.nav-list__item:hover{
    color: #3CB878;
}


                            /*main*/

.main {
    width: 444px;
    background-color: white;
    color: black;
    margin: 54px auto 0;
    padding: 31px 60px 38px;
    position: relative;
}

.main__square{
    position: absolute;
    top: 29px;
    left: 0;
}



                            /*login*/

.main__login-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.main__login-link:first-of-type{
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}

.main__login-link:last-of-type{
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
}

.main__login-link:last-of-type:hover{
    text-decoration: underline;
    color: #01813F;
}

.main__buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button{
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.facebook{
    background: #305DB8;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px;
    position: relative;
    transition: 300ms ease-in-out;
}

.facebook span{
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    margin-left: 48px;
    padding-left: 18px;
}

.facebook span::before{
    content: url("../images/icons/facebook.png");
    padding: 0 19px 0 16px;
    height: 28px;
    position: absolute;
    left: 0;
}

.facebook:hover{
    background: #022263;
}

.google{
    background:  #DF4A32;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px;
    position: relative;
    transition: 300ms ease-in-out;
}

.google span{
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    margin-left: 49px;
    padding-left: 30px;
}

.google span::before{
    content: url("../images/icons/google.png");
    padding: 3px 0 0 12px;
    height: 19px;
    position: absolute;
    left: 0;
}

.google:hover{
    background: #AB1F09;
}

                            /*option*/

form{
    margin-top: 31px;
}

fieldset{
    width: 100%;
    border-top: 1px solid #F2F2F2;
}

legend{
    font-weight: 400;
    font-size: 14px;
    color: #848484;
    text-align: center;
}

.main__registration__input{
    width: 100%;
    margin-top: 15px;
    color: #434343;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 0  15px 20px;
    cursor: pointer;
}

.main__registration__input::placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #BEBEBE;
}

.main__registration__input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main__registration__checkbox{
    margin-top: 12px;
}

.terms-text{
    font-weight: 400;
    font-size: 14px;
    color: #434343;
}

.terms-link{
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    transition: 300ms ease-in-out;
}

.terms-link:hover{
    text-decoration: underline;
    color: #01813F;
}

.main__registration-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main__registration-checkbox+label{
    display: flex;
    align-items: center;
}

.main__registration-checkbox+label::before{
    content:"";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/vector_unchecked.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #F2F2F2;
}

.main__registration-checkbox:checked+label::before{
    background-image: url("../images/icons/vector_checked.png");
}

.main__registration__button{
    margin-top: 20px;
    width: 100%;
    padding: 16px 0;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.main__registration__button:hover{
    background: #01813F;
}